.audio {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid #ffa351;
  align-items: center;
  height: auto;
  min-height: 100vh;
  transition: all 0.5s;

  .audio-cont {
    width: 100%;
    text-align: center;
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 1.5em;
    .audio-player {
      width: 60%;
      position: relative;
      // padding: 1em 0;

      .btn-icon {
        transition: all 0.5s;
        opacity: 0;
        color: #ffa351;
        font-size: 4em;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        cursor: pointer;
      }
      .video {
        width: 100%;
        height: 60vh;
        background-color: black;
        cursor: pointer;
        object-fit: contain;
        margin: 1em 0;
      }
      &:hover {
        .btn-icon {
          // display: block !important;
          opacity: 1;
        }
      }
    }
  }

  .car-aud {
    background-color: #f8de7e;
    margin: 2em 0;
    width: 90%;
    height: 450px;

    .slide-3 {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      height: 400px;
      .carvid-cont {
        position: relative;
        background-color:pink ;
        height: 300px;
        width: 35%;

        .car-play-btn {
          color: #ffa351;
          font-size: 3em;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 2;
          cursor: pointer;
        transition: all 0.5s;

        }
        .car-video {
          height: 100%;
          width: 100%;

          background-color: black;
          border-radius: 10px;
          transition: all 0.3s;
          cursor: pointer;

          // &:hover {
          //   transform: scale(1.05);
          //   box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.2);
          //   box-shadow: 0px 16px 17px -5px #000000;
          //   border-radius: 20px;
          // }
        }
        &:hover {
          .car-play-btn {
            // transform: scale(1.05);
            font-size: 4em;
          }
        }
      }
    }
  }
}
