.audio {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid #ffa351;
  align-items: center;
  height: 100vh;

  
.audio-title{
  margin-top:1em;
  width: auto;
  display: flex;
  justify-content: center;
  border-bottom: 4px solid #ffa351;
  font-size: 2em;
  font-weight: 700;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

  text-shadow: 1px 1px black;

  color: #ffa351;
}

  .car-aud {
    background-color: #f8de7e;
    margin: 2em 0;
    width: 90%;
    height: 450px;

    .slide-3 {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      height: 400px;

      .aud-cont {
        height: 300px;
        width: 35%;
        background-color: white;
        border-radius: 10px;
        transition: all 0.3s;
        cursor: pointer;

        &:hover {
          transform: scale(1.05);
          box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 16px 17px -5px #000000;
          border-radius: 20px;
        }
      }
    }
  }
}
