.Blog-section {
  .blog-loading {
    margin-left: 14%;
  }

  .blog-sec-right {
    width: 86%;
    height: auto;
    margin-left: 14%;
    min-height: 100vh;
    background-color: white;

    .cat {
      height: auto;
      padding-top: 2em;
    }
    .cat-name {
      font-size: 2em;
      color: #ffa351;
      border-bottom: 1px solid #ffa351;
      width: max-content;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      font-family: "Satisfy", cursive;


    }


    .card-cont {
      height: 200px;
    }
  }
}

.swiper-slide {
  background-color: #f8de7e;
  width: 300px;
  padding: 1em;
  height: 420px;
  cursor: pointer;

  .sw-title {
    text-align: left;
    border-bottom: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    font-family: "Satisfy", cursive;
    padding: .3em .2em;
    // overflow: hidden;
    // visibility: visible;
    // display: -webkit-box;
    // -webkit-line-clamp: 1;
    // -webkit-box-orient: vertical;
    // word-break: break-word;
  }
  .sw-img {
    min-height: 20vh;
    height: 40%;
    width: auto;
    background-color: #f8de7e ;
    margin: 0.7em 0;
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;

    background-position: center;
  }
  .sw-text {
    font-size: 0.7em;
    // height: 80px;
    margin: 1.5em 1em;
    // padding: .7em;

    visibility: visible;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
  }
  .sw-text1 {
    text-align: center;
  }

  .sw-btn {
    text-align: center;
    margin-top: 0.5em;
    background-color: #ffa351;
    color: white;
    border-radius: 5px;
    padding: 0.2em 0;
    transition: all 0.3s;
    &:hover {
      color: #ffa351;
      background-color: white;
    }
  }
}

.swiper-slide {
  box-shadow: 0px 8px 10px -5px #000000;
}
// .container {
//   position: relative;
//   // height: 60vh;
//   // height: max-content;
//   height: 60vh;

//   display: flex;
//   margin: 0em 0;
//   align-items: center;
// }

.container .swiper-container {
  width: 90%;
  // height: 420px;

  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 2;
  padding-bottom: 3vw;
}

.swiper-pagination-fraction {
  bottom: 0;
}

.swiper-pagination-bullet {
  width: 25px;
  height: 5px;
  border-radius: 5px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  color: #ffa351;
}

:root {
  --swiper-theme-color: #ffa351 !important;
}

@media screen and (max-width: 1190px) {
  .Blog-section {
    .footer {
      font-size: 1.5em !important;
    }

    .blog-loading {
      margin-left: 0;
    }

    .abt-left {
      display: none;
    }
    font-size: 0.7em;
    .swiper-slide {
      height: 350px;
      cursor: pointer;
      .sw-title {
        font-size: 1.5em;
      }
      .sw-img {
        min-height: 3vh;
        height: 40%;
        width: 70%;
        margin: 1em auto;
      }
      .sw-text {
        font-size: 1em;
        margin: 1em auto;
        width: 70%;
        -webkit-line-clamp: 6;

      }

      .sw-btn {
        margin: 0.5em auto;
        width: 70%;
      }
    }

    .blog-sec-right {
      margin-left: 0;
      width: 100%;
    }
  }


}

// @media screen and (max-width: 550px) {
//   .container{
//     height: 60vh;

//   }
// }

@media screen and (max-width: 550px) {
  .Blog-section {
    .blog-sec-right {
      width: 100%;
      margin-left: 0;
      .cat {
        align-items: center;
        // height: 50vh;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 2em;
 
      }
    }
    .abt-left {
      display: none;
    }
    font-size: 0.7em;
    .swiper-slide {
      height: 370px;
      width: 200px;
      cursor: pointer;
      .sw-title {
        font-size: 1.5em;
      }
      .sw-img {
        min-height: 10vh;
        width: 70%;
        margin: 1em auto;
      }
      .sw-text {
        font-size: 1em;
        // height: 80px;
        margin: 2em auto;
        width: 70%;

        -webkit-line-clamp: 6;

      }

      .sw-btn {
        margin: 0.5em auto;
        width: 70%;
      }
    }

    .footer {
      font-size: 1em !important;
    }
  }
}

@media screen and (max-width: 380px) {
  .Blog-section {
    .blog-sec-right {
      width: 100%;
      margin-left: 0;
      .cat-name {
        // margin-bottom:2em;
      }
      .cat {
        align-items: center;
        height:auto;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        // margin-bottom: 10em;
      }
      .container{
        // // min-height: 80vh;
        // height: 80vh;
        // padding: 1em;

      }
    }
    .abt-left {
      display: none;
    }
    font-size: 0.7em;
    .swiper-slide {
      height: 370px;
      width: 200px;
      cursor: pointer;
      .sw-title {
        font-size: 1.5em;
      }
      .sw-img {
        min-height: 15vh;
        width: 70%;
        margin: 1em auto;
      }
      .sw-text {
        font-size: 1em;
        // height: 80px;
        -webkit-line-clamp: 6;

        margin: 2em auto;
        width: 70%;
      }

      .sw-btn {
        margin: 0.5em auto;
        width: 70%;
      }
    }

    .footer {
      font-size: 1em !important;
    }
  }
}
