.blog-cont {
  display: flex;
  .blog-right {
    width: 86%;
    margin-left: 14%;
    padding: 0 8em 4em;
    .blog-img {
      background-color: black;
      margin: 2em 0;
      width: 60%;
      height: 40vh;
      margin-left: auto;
      margin-right: auto;

      cursor: pointer;
      img {
        height: 40vh;
        width: 100%;
      }
    }
    .blog-cont {
      span {
        color: black;
        font-size: 1.2em;
        font-family: "Alegreya", serif;
      }
    }
  }
}
