.blog {
  height: 1500px;
  background-color: brown;

  .blog-cont {
    background-color: white;
    padding: 2em 1em;
    opacity: 0.95;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .blogtitle {
      padding: 0em 0.8em;
      margin: 0.8em 0;
      width: auto;
      display: flex;
      justify-content: center;
      border-bottom: 4px solid #ffa351;
      font-size: 2em;
      font-weight: 500;
      color: #ffa351;
    }

    .car-1 {
      background-color: #f8de7e;
      padding-top: 1em;
      width: 98%;

      .slide-1 {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 0 1em 2em 1em;
        margin: 0 2em;
        height: 500px;
      }
    }
  }
}

.post-cont {
  height: 400px;
  width: 30%;
  background-color: white;
  border-radius: 10px;
  transition: all 0.3s;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
    box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 16px 17px -5px #000000;
    border-radius: 20px;
  }
}

.carousel .control-arrow,
.carousel.carousel-slider .control-arrow {
  background-color: #ffa351 !important;
  top: 50% !important;
  transform: translateY(-50%);
  opacity: 1 !important;
  border: 2px solid #ffa351 !important;
  &:hover {
    border: 1px solid white !important;
    color: #ffa351 !important;
    opacity: 0.8 !important;
  }
}

.carousel .control-next.control-arrow:before {
  &:hover {
    border-left: 8px solid #ffa351 !important;
  }
}

.carousel.carousel-slider .control-arrow {
  top: 50%;
  height: 70px;
  margin: 0 1em;
}

.carousel .control-dots {
  padding-top: 1em !important;
  color: red !important;
}

.carousel .control-dots .dot {
  width: 16px !important;
  height: 16px !important;
  // background-color: #ffa351  !important;
  border: 3px solid #ffa351;
}
.carousel .carousel-status {
  display: none !important;
}
