.Blog-section {
  .blog-loading {
    margin-left: 14%;
  }

  .blog-sec-right {
    width: 86%;

    margin-left: 14%;
    min-height: 100vh;
    background-color: white;

    .cat {
      height: auto;
    }
    .cat-name {
      font-size: 2em;
      color: #ffa351;
      border-bottom: 1px solid #ffa351;
      width: max-content;
      margin: 1em 0;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }

    .card-cont {
      height: 200px;
    }
  }
}

.swiper-slide {
  background-color: #f8de7e;
  width: 300px;
  padding: 1em;
  height: 420px;
  cursor: pointer;

  .sw-title {
    text-align: center;
    border-bottom: 1px solid black;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
  }
  .sw-img {
    height: 40%;
    width: auto;
    background-color: blanchedalmond;
    margin: 0.7em 0;
    background-size: cover;
    background-position: center;
  }
  .sw-text {
    font-size: 0.8em;
    height: 80px;
    overflow-y: hidden;
  }

  .sw-btn {
    text-align: center;
    margin-top: 0.5em;
    background-color: #ffa351;
    color: white;
    border-radius: 5px;
    padding: 0.2em 0;
    transition: all 0.3s;
    &:hover {
      color: #ffa351;
      background-color: white;
    }
  }
}

.swiper-slide {
  box-shadow: 0px 8px 10px -5px #000000;
}
.container {
  position: relative;
  height: 70vh;
  display: block;
  margin: 3em 0;
}

.container .swiper-container {
  width: 90%;
  height: 420px;

  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 2;
  padding-bottom: 3vw;
}

.swiper-pagination-fraction {
  bottom: 0;
}

.swiper-pagination-bullet {
  width: 25px;
  height: 5px;
  border-radius: 5px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  color: #ffa351;
}

:root {
  --swiper-theme-color: #ffa351 !important;
}

@media screen and (max-width: 770px) {
  .Blog-section {
    .footer {
      font-size: 1.5em !important;
    }

    .blog-loading {
      margin-left: 0;
    }
    .container {
      height: 40vh;
    }

    .abt-left {
      display: none;
    }
    font-size: 0.7em;
    .swiper-slide {
      height: 350px;
      cursor: pointer;
      .sw-title {
        font-size: 1.5em;
      }
      .sw-img {
        height: 40%;
        width: 70%;
        margin: 1em auto;
      }
      .sw-text {
        font-size: 1em;
        height: 80px;
        margin: 0 auto;
        width: 70%;
      }

      .sw-btn {
        margin: 0.5em auto;
        width: 70%;
      }
    }

    .blog-sec-right {
      margin-left: 0;
      width: 100%;
    }
  }
}

@media screen and (max-width: 370px) {
  .container {
    height: 60vh;
  }

  .Blog-section {
    .blog-sec-right {
      width: 100%;
      margin-left: 0;
    }

    .cat {
      height: auto;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
    .abt-left {
      display: none;
    }
    font-size: 0.7em;
    .swiper-slide {
      height: 340px;
      width: 200px;
      cursor: pointer;
      .sw-title {
        font-size: 1.5em;
      }
      .sw-img {
        height: 40%;
        width: 70%;
        margin: 1em auto;
      }
      .sw-text {
        font-size: 1em;
        height: 80px;
        margin: 0 auto;
        width: 70%;
      }

      .sw-btn {
        margin: 0.5em auto;
        width: 70%;
      }
    }
  }
}
