.blog-cont {
  .blog-right {
    width: 86%;
    margin-left: 14%;
    min-height: 100vh;

    .scroll-main {
      background-color: black;
      height: 6px;
      position: sticky;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1;
      .scroll-in {
        height: 6px;
        background-color: #ffa351;
      }
    }
    .title-cont {
      margin-left: 15em;
      .blog-title {
        color: #ffa351;
        font-size: 4em;
        border-bottom: 2px solid #ffa351;
        width: max-content;
      }
      .sub-cont {
        margin: 0.5em 0;
        display: flex;
        .date {
          color: black;
          padding-right: 0.5em;
          border-right: 1px solid black;
        }
        .cats {
          display: flex;
          .cat {
            padding: 0 0.5em;
            border-right: 1px solid black;
          }
        }
      }
    }

    .blog-img {
      background-color: black;
      margin: 2em 0;
      height: 60vh;
      width: 50%;
      margin-left: auto;
      margin-right: auto;

      cursor: pointer;
      img {
        object-fit: contain;
        height: 100%;
        width: 100%;
      }
    }
    .blog-cont {
      padding: 0 14em 4em;
      display: flex;
      flex-direction: column;
      span {
        color: black;
        font-size: 1.2em;
        font-family: "Alegreya", serif;
      }
    }
  }
}

.blog-loading {
  font-size: 2em;
  margin-top: 1em;
  text-align: center;
  margin-left: 14%;
}

@media screen and (max-width: 770px) {
  .blog-loading {
    margin-left: 0;
  }

  .blog-cont {
    .blog-right {
      margin-left: 0;

      width: 100%;
      .scroll-main {
        height: 5px;
        .scroll-in {
          height: 5px;
        }
      }
      .title-cont {
        margin-left: 6em;
      }

      .blog-img {
        height: 35vh;
        width: 70%;
      }
      .blog-cont {
        padding: 0 4em 4em;
        font-size: 1.2em;
        span {
          color: black;
          font-family: "Alegreya", serif;
        }
      }
    }
  }
}

@media screen and (max-width: 370px) {
  .blog-loading {
    margin-left: 0;
  }
  .blog-cont {
    font-size: 0.7em;
    .abt-left {
      display: none;
    }

    .blog-right {
      font-size: 1em;
      margin-left: 0;

      width: 100%;

      .blog-right-child {
      }
      .scroll-main {
        height: 2px;
        .scroll-in {
          height: 2px;
        }
      }
      .title-cont {
        margin-left: 4em;
        font-size: 0.9em;
      }

      .blog-img {
        height: 35vh;
        width: 70%;
      }
      .blog-cont {
        padding: 0 3em 2em;
        span {
          color: black;
          font-family: "Alegreya", serif;
        }
      }
    }
  }
}
