.blog {
  border-bottom: 2px solid #ffa351;
  overflow: hidden;

  .blog-cont {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    .options {
      height: auto;
      width: 90%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      text-align: center;

      .cat-title {
        border-bottom: 1px solid black;
        padding: 0.2em 0;
        width: max-content;
        margin-left: auto;
        margin-right: auto;
      }

      .cat-content {
        padding: 0.7em;
      }

      .cat-item {
        padding: 0.2em 0.8em;
        color: white;
        background-color: #ffa351;
        border-radius: 20px;
        margin: 0.2em;
        display: inline-block;
        cursor: pointer;
        border: 2px solid #ffa351;
        transition: all 0.5s;
        &:hover {
          background-color: white;
          border: 2px solid #ffa351;

          color: #ffa351;
        }
      }

      // .categories {
      //   margin: 2em;
      //   background-color: #f8de7e;
      //   width: 80%;
      //   border-radius: 20px;
      //   padding: 1em;
      // }
      .tags,
      .categories {
        margin: 2em;
        border-radius: 20px;
        padding: 1em;

        background-color: #f8de7e;
        width: 80%;
      }
    }

    .blogtitle {
      margin: 0.8em 0;
      width: auto;
      display: flex;
      justify-content: center;
      border-bottom: 4px solid #ffa351;
      font-size: 2em;
      font-weight: 700;
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

      text-shadow: 1px 1px black;

      color: #ffa351;
    }

    .car-1 {
      background-color: #f8de7e;
      padding-top: 1em;
      margin-top: 2em;
      width: 100%;

      .slide-1 {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 0 1em 2em 1em;
        margin: 0 2em;
        cursor: pointer;
        height: 520px;

        .link {
          height: auto;
          width: 30%;
          background-color: white;
          border-radius: 10px;
          cursor: pointer;
          padding: 1em;

          transition: transform 1s !important;
          &:hover {
            transform: scale(1.05) !important;
            box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 16px 17px -5px #000000;
            border-radius: 20px;
          }
        }

        .post-cont {
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          font-family: "Alegreya", serif !important;

          .post-title {
            padding: 0.1em 0.6em;
            color: #ffa351;
            font-size: 1.4em;
            border-bottom: 1px solid #ffa351;
          }
          .post-img {
            height: 18vh;
            margin: 1em 0 0;
            width: 80%;
            background-image: url("../img/posts/i-dream.jpg");
            background-size: cover;
          }
          .post-desc {
            height: 15vh;
            overflow: hidden;
            text-align: left;
            width: 80%;
            font-size: 0.4em;
            span {
              color: black;

              // display: -webkit-box;
              // -webkit-line-clamp: 7;
              // -webkit-box-orient: vertical;

              text-overflow: ellipsis;
            }
            background: linear-gradient(
              rgba(248, 222, 126, 0.5),
              rgba(248, 222, 126, 0.1)
            );
          }

          .post-btn {
            padding: 0.4em 0.8em;
            font-size: 0.7em;
            margin-top: 0.9em;
            color: white;
            background-color: #ffa351;
            border-radius: 10px;
            border: 2px solid #ffa351;
            transition: all 0.5s;

            &:hover {
              color: #ffa351;
              background-color: white;
              border: 2px solid #ffa351;
            }
          }
          .socials {
            margin: 0.8em 0.2em 0.2em;
            display: flex;
            .icon-holder-post {
              transition: all 0.5s;
              width: 1.5em;
              margin-right: 5px;
              border-radius: 100%;
              &:hover {
                box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.2);
                box-shadow: 0px 5px 10px -5px #000000;
                background-color: #f8de7e;
              }
            }
          }
        }
      }
    }
  }
}

.carousel .control-arrow,
.carousel.carousel-slider .control-arrow {
  background-color: #ffa351 !important;
  top: 50% !important;
  transform: translateY(-50%);
  opacity: 1 !important;
  border: 2px solid #ffa351 !important;
  &:hover {
    // border: 1px solid white !important;
    color: #ffa351 !important;
    opacity: 0.7 !important;
  }
}

.carousel .control-next.control-arrow:before {
  &:hover {
    border-left: 8px solid #ffa351 !important;
  }
}

.carousel.carousel-slider .control-arrow {
  top: 50%;
  height: 70px;
  margin: 0 1em;
}

.carousel .control-dots .dot {
  width: 16px !important;
  height: 16px !important;
  // background-color: #ffa351  !important;
  border: 3px solid #ffa351;
}
.carousel .carousel-status {
  display: none !important;
}
