.footer {
  height: 40vh;
  display: flex;
  overflow: hidden;

  .footer-middle {
    width: 40%;
    height: 40vh;
    border-right: 1px solid white;

    padding: 2em;
    display: flex;
    align-items: center;
    background-color: black;
    .foot-newtitle {
      color: white;
      font-size: 1.2em;
      margin: 1em 0;
    }
    .foot-newinput {
      margin: 1em 0;
      opacity: 1;
      input {
        width: 65%;
        padding: 0.8em;
        outline: none;
        border: none;
        border-radius: 10px;
        border: 3px solid #f8de7e;

        &:focus {
          border: 3px solid #ffa351;
        }
      }

      button {
        padding: 0.8em 1em;
        border-radius: 10px;
        border: 3px solid #ffa351;
        background-color: #ffa351;
        color: white;
        transition: all 0.5s;
        margin-left: 0.6em;
        font-weight: 600;

        &:hover {
          background-color: white;
          color: #ffa351;
          border: 3px solid #ffa351;
          font-weight: 600;

          cursor: pointer;
        }
      }
    }
  }
  .footer-left {
    height: 40vh;
    background-color: black;
    width: 30%;
    color: white;
    border-right: 1px solid white;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
    padding-left: 5em;
    .footer-left-title {
      font-size: 2em;
      color: #ffa351;
      font-weight: 500;
      margin-bottom: 1em 0;
      border-bottom: 1px solid white;
    }
    li {
      margin: 0.5em 0;
      a {
        text-decoration: none;
        color: white;
        padding: 0.1em;
        transition: all 0.3s;
        &:hover {
          color: #ffa351;
        }
      }
    }
  }
  .footer-right {
    background-color: black;
    width: 30%;
    height: 40vh;
    color: white;
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: space-evenly;
    .footer-contact {
      padding: 0 2em;
    }
    .footer-socials {
      display: flex;
      margin-left: auto;
      margin-right: auto;
      
      img {
        transition: all 0.3s;
        height: 40px;
        width: 40px;
        object-fit: cover;
        margin-right: 10px;
        &:hover{
          transform: scale(1.15);
        }
      }
    }
  }
}
