.footer {
  height: 40vh;
  display: flex;
  overflow: hidden;
  z-index: 2;
  bottom: 0;
  margin-top: auto;
  align-self: flex-end;

  .footer-middle {
    width: 40%;
    height: 40vh;
    border-right: 1px solid white;

    padding: 2em;
    display: flex;
    align-items: center;
    background-color: black;
    .foot-newtitle {
      color: white;
      font-size: 1.2em;
      margin: 1em 0;
    }
    .foot-newinput {
      margin: 1em 0;
      opacity: 1;
      input {
        width: 65%;
        padding: 0.8em;
        outline: none;
        border: none;
        border-radius: 10px;
        border: 3px solid #f8de7e;

        &:focus {
          border: 3px solid #ffa351;
        }
        &::placeholder {
          font-family: "Alegreya", serif;
        }
      }

      button {
        padding: 0.8em 1em;
        border-radius: 10px;
        border: 3px solid #ffa351;
        background-color: #ffa351;
        color: white;
        transition: all 0.5s;
        margin-left: 0.6em;
        font-family: "Alegreya", serif;
        font-weight: 600;

        &:hover {
          background-color: white;
          color: #ffa351;
          border: 3px solid #ffa351;
          font-weight: 600;

          cursor: pointer;
        }
      }
    }
  }
  .footer-left {
    height: 40vh;
    background-color: black;
    width: 30%;
    color: white;
    border-right: 1px solid white;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
    padding-left: 3em;
    .footer-left-title {
      font-size: 2em;
      color: #ffa351;
      font-weight: 500;
      margin-bottom: 0.2em ;
      border-bottom: 1px solid white;
    }
    li {
      margin: 0.5em 0 0.5em 2em ;
      a {
        text-decoration: none;
        color: white;
        padding: 0.1em;
        transition: all 0.3s;
        &:hover {
          color: #ffa351;
        }
      }
    }
  }
  .footer-right {
    background-color: black;
    width: 30%;
    height: 40vh;
    color: white;
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: space-evenly;
    .footer-contact {
      padding: 0 2em;
      a {
        color: white;
        transition: all 0.3s;
        &:hover {
          color: #f8de7e;
        }
      }
    }
    .footer-socials {
      display: flex;
      margin-left: auto;
      margin-right: auto;

      img {
        transition: all 0.3s;
        height: 2em;
        width: 2em;
        object-fit: cover;
        margin: 0 0.8em;
        &:hover {
          transform: scale(1.15);
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .footer {
    font-size: 1 !important;
    height: 95vh;
    flex-direction: column;
    .footer-left {
      width: 100%;
      border-bottom: 1px solid white;
      height: 30vh;
      align-items: center;
      padding-left: 0;
    }
    .footer-middle {
      .foot-news {
        width: 100%;
      }
      width: 100%;
      margin-left: auto;
      border-bottom: 1px solid white;
      height: 25vh;
      text-align: center;
    }
    .footer-right {
      width: 100%;
      height: 40vh;
      text-align: center;
    }
  }
}

@media screen and (max-width: 370px) {
  .footer {
    height: 90vh;
    flex-direction: column;
    .footer-left {
      width: 100%;
      border-bottom: 1px solid white;
      height: 30vh;
      align-items: center;
      padding-left: 0;
    }
    .footer-middle {
      zoom: 0.7;
      .foot-news {
        width: 100%;
      }
      width: 100%;
      margin-left: auto;
      border-bottom: 1px solid white;
      height: 30vh;
      text-align: center;
    }
    .footer-right {
      width: 100%;
      height: 40vh;
      text-align: center;
    }
  }
}
