.header {
  position: fixed;
  top: 0;
  font-weight: 550;
  font-size: 0.9em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffa351;
  color: white;
  height: 8vh;
  width: 100%;
  padding: 0.5em;
  z-index: 10;
  border-bottom: 1px solid white;

  .navs {
    a {
      text-decoration: none;
      color: white;
      position: relative;
      cursor: pointer;
      font-weight: 550;
      &::after {
        position: absolute;
        content: "";
        width: 0;
        height: 0.1rem;
        left: 10px;
        bottom: 0;
        background-color: white;
        transition: all 0.4s ease-in-out;
      }
      &:hover::after {
        width: 90%;
      }
      &:hover {
        .navlink {
          .icon {
            animation: bounce 0.7s infinite ease;
            position: relative;
          }
        }
      }
    }

    display: flex;
    justify-content: space-between;
    .navlink {
      padding: 0.3em 0.8em;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .MuiSvgIcon-root {
        width: 20px;
        margin-right: 2px;
      }
    }
  }

  .search-cont {
    display: flex;
    align-content: center;
    input {
      border-radius: 8px 0 0 8px;
      outline: none;
      width: 20em;
      height: 30px;
      border: none;
      padding: 0.5em;
      background-color: white;
    }
    button {
      outline: none;
      height: 30px;
      width: 40px;
      display: flex;
      justify-content: center;
      align-content: center;
      padding: 0.1em;
      border-radius: 0 8px 8px 0;
      background-color: #ffa351;
      border: 2px solid white;
      cursor: pointer;
      transition: all 0.6s;
      &:hover {
        background-color: #f8de7e;
        border: 2px solid white;
      }
    }
  }

  .socials {
    display: flex;
    align-items: center;
    justify-content: space-around;
    .icon-holder {
      padding: 0.3em;
      display: flex;
      align-items: center;
      justify-content: center;
      // background-color: white;
      border-radius: 100%;
      margin-right: 0.5em;
      cursor: pointer;
      img {
        transition: all 0.5s;
        border-radius: 100%;
        border: 3px solid white;

        width: 30px;
      }
      :hover {
        transform: scale(1.2);
        // box-shadow: 0px 1px 0px 0px white;
      }
    }
  }
}

.homepage {
  position: absolute;
  bottom: 0;
  height: 92vh;
  overflow: scroll;
}

.parallax {
  background-image: url("https://natureconservancy-h.assetsadobe.com/is/image/content/dam/tnc/nature/en/photos/Zugpsitze_mountain.jpg?crop=0,176,3008,1654&wid=4000&hei=2200&scl=0.752");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.gap {
  height: 8vh;
  width: 100%;
}

@keyframes bounce {
  0% {
    top: 0;
  }
  30% {
    top: -0.1em;
  }
  60% {
    top: -0.2em;
  }
  100% {
    top: 0;
  }
}
