.home {
  display: flex;
  height: 100vh;
  border-bottom: 2px solid #ffa351;
  overflow: hidden;

  .homeleft {
    width: 42%;
    height: 100vh;
    margin-left: 16%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    left: 0;
    top: 0;

    .in {
      transition: all 0.3s;
      &:hover {
        transform: scale(1.15);
      }
    }
    .hometitle {
      // text-shadow: 1px 1px #f8de7e;
      margin-top: 4em;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 90%;
      .home-title {
        img {
          width: 100%;
          margin: 0 0.1em;
          cursor: pointer;
        }
      }

      .tag {
        font-size: 1.2em;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: black;
        font-family: cursive;
        margin-left: 2em;
        margin-top: -1em;
      }
    }
  }
  .homeright {
    position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;
    width: 42%;
    height: 100vh;
    background-color: #f8de7e;
    display: flex;
    justify-content: center;
    align-items: center;

    .homeimg {
      width: 380px;
      height: 470px;
      background-color: white;
      z-index: 1;
      display: flex;
      align-content: center;
      justify-content: center;
      .car-0 {
        background-color: black;
        width: 100%;
        height: 100%;
        cursor: pointer;
        text-align: center;
        .slide-0 {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          padding: 0.5em;
          height: 470px;

          .car-img-1 {
            width: 100%;
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
          }

          .car-img-1 {
            background-size: cover;
          }
        }
      }

      .carousel.carousel-slider .control-arrow {
        display: none;
      }
    }
  }
}

.openBtn {
  background: #f1f1f1;
  border: none;
  padding: 10px 15px;
  font-size: 20px;
  cursor: pointer;
}

.openBtn:hover {
  background: #bbb;
}

.overlay {
  transition: opacity 0.2s linear;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);

  .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    cursor: pointer;
    transition: all 0.3s;
    color: #ffa351;
    &:hover {
      color: white;
    }
    .cancel-btn {
      border-radius: 100%;
      font-size: 2em;
      color: white;
      background-color: #ffa351;
      transition: all 0.4s;
      &:hover {
        border: 2px solid #ffa351;
        background-color: white;
        color: #ffa351;
      }
    }
  }
}

.overlay-content {
  position: relative;
  top: 10%;
  width: 60%;
  margin: auto;
  z-index: 10;

  input[type="text"] {
    padding: 15px;
    outline: none;
    font-size: 1em;
    border: none;
    float: left;
    width: 90%;
    background: white;
    border-radius: 10px 0 0 10px;
  }

  .searchcont {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #ffa351;
    border: 2px solid white;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
    transition: all 0.5s;
    width: 10%;

    .searchbtn {
      font-size: 2.5em;
      float: left;
      padding: 0.1em 0.2em;
      color: white;
    }
    &:hover {
      // background-color: #f8de7e;
      opacity: 0.9;
      border: 2px solid white;
    }
  }
  .sugs {
    height: 70vh;
    overflow-y: scroll;
    margin-top: 2em;
    background-color: #f8de7e;
    padding: 0em 1em;

    .sugs-title {
      margin: 1em 0;
      border-bottom: 1px solid black;
      font-size: 1.2em;
    }
    &::-webkit-scrollbar {
      width: 8px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: lightyellow;
      border-radius: 50px;
    }
    &::-webkit-scrollbar-track {
      background-color: #777;
    }
  }
}
