.newsletter-section {
  height: 100vh;
  border-bottom: 3px solid #ffa351;
  width: 100%;
  text-align: center;
  overflow: hidden;

  .news-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 100px;

    .newsletter {
      width: 75%;
      height: 300px;
      background-color: #f8de7e;
      display: flex;
      margin-top: -3em;
      box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 16px 17px -5px #000000;

      .newimg {
        width: 35%;
        height: 100%;
        background-color: #f8de7e;
        background-image: url("../img/sakshi.png");
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
      }
      .newform {
        width: 65%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 1.5em 2em;
        .newtitle {
          height: auto;
          padding: 0.5em 0;
          font-size: 1.5em;
          border-bottom: 2px solid #ffa351;
          text-align: left;
        }

        .newinput {
          input {
            width: 70%;
            padding: 0.8em;
            outline: none;
            border: none;
            border-radius: 10px;
            border: 3px solid #f8de7e;

            &:focus {
              border: 3px solid #ffa351;
            }
            &::placeholder {
              font-family: "Alegreya", serif;
            }
          }

          button {
            padding: 0.8em 1em;
            border-radius: 10px;
            border: 3px solid #ffa351;
            background-color: #ffa351;
            color: white;
            transition: all 0.5s;
            margin-left: 0.6em;
            font-weight: 600;
            font-family: "Alegreya", serif;


            &:hover {
              background-color: white;
              color: #ffa351;
              border: 3px solid #ffa351;
              font-weight: 600;

              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 980px) {
  .newsletter-section {
    .news-cont {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50vh;
      .newsletter {

        .newimg {
          width: 45%;
        }

        .newform {
          width: 55%;
          .newtitle {
            font-size: 1.2em;
            text-align: center;
          }

          .newinput {
            margin-top: 0.5em;

            input {
              width: 90%;
            }

            button {
              transition: all 0.5s;
              font-weight: 600;
              width: 90%;
              margin-left: 0;
              margin-top: 0.5em;
              padding: 0.6em 0.8em;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .newsletter-section {
    .news-cont {
      margin-top: -1em;

      .newsletter {
        height: 80vh;
        flex-direction: column;
        margin-top: 150px;

        zoom: 0.7;
        .newimg {
          width: 100%;
          height: 40vh;
          margin-top: 1em;
          background-position: 40% 0%;
        }

        .newform {
          margin-top: 1em;

          width: 100%;
          height: 30vh;

          .newtitle {
            font-size: 1.2em;
            text-align: center;
          }

          .newinput {
            margin-top: 0.5em;

            input {
              width: 90%;
            }

            button {
              transition: all 0.5s;
              font-weight: 600;
              width: 90%;
              margin-left: 0;
              margin-top: 0.5em;
              padding: 0.6em 0.8em;
            }
          }
        }
      }
    }
  }
}
