@import "./styles/loading";
@import "./styles/home-page";
@import "./styles/abt-page";
@import "./styles/blog-page";

@import "./styles/home";
@import "./styles/about";
@import "./styles/blog";
@import "./styles/audio";
@import "./styles/newsletter";
@import "./styles/insta";
@import "./styles/readers";
@import "./styles/contact";
@import "./styles/footer";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-thumb {
  background-color: lightyellow;
  border-radius: 50px;
}
body::-webkit-scrollbar-track {
  background-color: #777;
}

body {
  font-size: 1.2rem;
  font-family: "Alegreya", serif;
}
span {
  color: #037fff;
}

@media screen and (max-width: 411px) {
  html {
    font-size: 70%;
  }
}
@media screen and (max-width: 700px) {
  html {
    font-size: 90%;
  }
}
@media screen and (max-width: 480px) {
  h2 {
    font-size: 70%;
  }
  h3 {
    font-size: 70%;
  }
}
